*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url('./Norse-Bold.otf');
}
.container{
    display: grid;
    grid-template-columns: 30% 70%;
}
.logo{    
    position: relative;
    height: 100vh;
}
.logo .back-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thelogo{
    position: absolute;
    top: 30%;
    left: 0;
    display: flex;
    width: 100%;
    background: #00000070;
    justify-content: center;
    align-items: center;
}
.thelogo img{
    width: 100px;
    height: 100px;
}
.logo-text{
    font-family: 'Norse-Bold';
    color: #fff;
    font-size: 90px;
}
.form-container{
    background: #f9f9f9;
    font-family: sans-serif;
}
.form header{
    padding: 20px;
    margin-top: 100px;
}
.form header .text{
    margin-bottom: 20px;
}
.inputs{
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: -1px 7px 7px 2px #ddd;
}
.inputs h2{
    padding-bottom: 20px;
    color: #444;    
}
.input-groub{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    width: 100%;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}
.input label{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
}
.input input{
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
    width: 100%;
    border-color:#eee ;
    outline: none;
}
.form-container footer{
    padding: 20px;
}
.form-container footer button{
    
}